*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0);    
    opacity: 0.5;
    display: none;
}

.popup{
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 25px;
    transition: 0.6s linear;    
    box-shadow: 5px 5px 5px black , 5px 5px 5px black inset;
}


.popup h1{
    margin-bottom: 5px;
}

.popup-close-btn{
    position: absolute;
    top: 3px;
    right: 8px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    background: gray;
    color: white;
    padding: 0px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.popup-open-btn{
    padding: 8px;
    background : linear-gradient(rgb(88, 88, 88),rgb(216, 235, 214));
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;

}

body.popup-active .popup{
    top: 50%;
}
body.popup-active .popup-overlay{
    display: block;
}

@media screen and (max-width:435px){
    .popup{
        width: 90%;
    }
}